
@import 'util';

#tab-download {

  .download-panel {
    display: flex;
    flex-direction: column;

    padding: 0 $unit2;

    > div {
      flex: 1;
      text-align: center;

      ol {
        color: rgba(black, 0.3);
        text-align: left;
        
        width: 30em;
        max-width: 100%;
        margin: 0 auto;
        padding: $unit4 $unit4;

        li {
          color: $black-fg;
        }
      }
    }

    .download {
      width: 30em;
      max-width: 100%;
      text-align: center;

      &.button {
        @include button($theme-color, $theme-fg, $unit2);
      }

      &.url {
        @include input($theme-fg, $theme-color, $unit2);
      }
      
    }

    @include device(large) {
      flex-direction: row;

      > div {
        padding: 0 $unit;
      }
      
    }

    @include device(small) {
      header {
        border-bottom: none;
      }
    }

  }

  h1 {
    text-align: center;
  }

  .from-latest {
    
    padding: 0 $unit2;

    ul {
      
      li {
        list-style-type: none;
        color: $theme-color;
        
        width: 20em;
        margin: 0 auto;
        
        .button {
          @include button($theme-color, $theme-fg, $unit);
        }

        .filesize {
          margin-left: $unit2;
          font-weight: bold;
        }
        
      }
      
      .loading {
        font-size: 150%;
        opacity: 0.25;
        text-align: center;
        margin: $unit4;
      }
      
    }
    
  }

}