#tab-features section {
  position: relative;
  padding: 16px 32px;
  min-height: 432px; }
  @media only screen and (min-width: 1200px) {
    #tab-features section {
      padding-right: 664px; }
      #tab-features section img {
        position: absolute;
        top: 16px;
        right: 32px; } }
  #tab-features section.download {
    min-height: 104px;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px; }
    #tab-features section.download p {
      font-weight: bold;
      color: #f62;
      font-size: 125%; }
      #tab-features section.download p a {
        text-decoration: underline; }
    #tab-features section.download .download-button-wrapper .download.button {
      padding: 16px 64px; }
    @media only screen and (min-width: 1200px) {
      #tab-features section.download .download-button-wrapper {
        width: 600px;
        position: absolute;
        top: 32px;
        right: 32px; } }
  @media only screen and (max-width: 1199px) {
    #tab-features section {
      padding: 0; }
      #tab-features section header {
        text-align: center;
        padding: 8px 0;
        margin: 0; }
      #tab-features section img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 16px; }
      #tab-features section p {
        padding: 0 16px; } }
#tab-features section + section {
  box-shadow: inset 0 1px 0 #eee; }
  @media only screen and (max-width: 1199px) {
    #tab-features section + section {
      margin-top: 32px; } }
