* {
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

main {
  color: #222; }
  main h1 {
    color: #f62;
    font-size: 24px;
    padding: 8px 0;
    margin-top: 16px;
    margin-bottom: 8px; }
    @media only screen and (max-width: 640px) {
      main h1 {
        text-align: center; } }
    @media only screen and (min-width: 1200px) {
      main h1 {
        font-size: 32px; } }
  main p + p {
    margin-top: 0.5em; }
  main .button {
    background-color: #f62;
    box-shadow: inset 0 0 0 1px white, 0 0 0 2px #f62;
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 8px 16px;
    margin: 8px 0;
    transition: background-color 0.2s ease, box-shadow 0.2s ease; }
    main .button:hover {
      background-color: #ff7131;
      box-shadow: inset 0 0 0 1px white, 0 0 0 2px #ff7131;
      cursor: pointer; }
    main .button:active {
      background-color: #ff5103;
      box-shadow: inset 0 0 0 1px white, 0 0 0 2px #ff5103;
      cursor: pointer; }
  main code {
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.05);
    font-family: monospace;
    padding: 2px 8px; }
  main .in-progress {
    opacity: 0.5; }

body > header {
  background-color: #f62;
  color: white;
  text-align: center;
  padding: 16px 0;
  padding-top: 48px;
  width: 100%;
  max-width: 90em;
  margin: 0 auto; }
  body > header .name h1 {
    font-size: 200%; }
    body > header .name h1 .beta {
      background-color: white;
      color: #f62;
      font-size: 40%;
      font-weight: bold;
      position: relative;
      top: -1em;
      padding: 3px 6px;
      border-radius: 4px;
      text-transform: uppercase;
      margin-right: 8px; }
  body > header .name h2 {
    font-style: italic;
    opacity: 0.75; }
  body > header .links {
    font-weight: bold;
    display: block;
    margin-top: 16px;
    padding: 8px 0; }
    body > header .links a {
      margin: 0 8px;
      opacity: 0.7; }
      body > header .links a:hover {
        opacity: 1; }
  @media only screen and (min-width: 1200px) {
    body > header {
      position: absolute;
      height: 80px;
      width: 100%; }
      body > header .name {
        position: absolute;
        left: 0;
        top: 33px;
        width: auto;
        padding: 8px 16px;
        text-align: center;
        width: 30em; }
        body > header .name h1, body > header .name h2 {
          display: inline-block; }
        body > header .name h1 {
          font-size: 150%;
          font-weight: bold; }
          body > header .name h1 .beta {
            font-size: 12px; }
        body > header .name h2 {
          margin-left: 8px; }
      body > header .links {
        font-weight: bold;
        position: absolute;
        right: 0;
        bottom: 3px;
        padding: 8px 16px; }
        body > header .links a {
          margin: 0 8px;
          opacity: 0.7; }
          body > header .links a:hover {
            opacity: 1; } }

nav {
  background-color: #f62;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 100%;
  transition: box-shadow 0.2s ease;
  max-width: 90em;
  margin: 0 auto;
  -webkit-backface-visibility: hidden; }
  nav .tab {
    border-bottom: 4px solid transparent;
    display: inline-block;
    height: 48px;
    padding: 12px 16px;
    padding-bottom: 10px; }
    nav .tab.active {
      border-color: white; }

@media only screen and (min-width: 1200px) {
  html nav {
    background-color: transparent;
    height: 80px;
    padding-top: 32px;
    width: 40em;
    margin-left: 20em;
    z-index: 100; }
    html nav .tab {
      height: 48px;
      padding-top: 12px; }
      html nav .tab.active {
        background-color: white;
        color: #f62; } }
#tabs .tab {
  display: none; }
#tabs .tab.active {
  display: block; }

#tab-download .download-panel {
  display: flex;
  flex-direction: column;
  padding: 0 16px; }
  #tab-download .download-panel > div {
    flex: 1;
    text-align: center; }
    #tab-download .download-panel > div ol {
      color: rgba(0, 0, 0, 0.3);
      text-align: left;
      width: 30em;
      max-width: 100%;
      margin: 0 auto;
      padding: 32px 32px; }
      #tab-download .download-panel > div ol li {
        color: #222; }
  #tab-download .download-panel .download {
    width: 30em;
    max-width: 100%;
    text-align: center; }
    #tab-download .download-panel .download.button {
      background-color: #f62;
      box-shadow: inset 0 0 0 1px white, 0 0 0 2px #f62;
      color: white;
      font-weight: bold;
      display: inline-block;
      padding: 16px 32px;
      margin: 8px 0;
      transition: background-color 0.2s ease, box-shadow 0.2s ease; }
      #tab-download .download-panel .download.button:hover {
        background-color: #ff7131;
        box-shadow: inset 0 0 0 1px white, 0 0 0 2px #ff7131;
        cursor: pointer; }
      #tab-download .download-panel .download.button:active {
        background-color: #ff5103;
        box-shadow: inset 0 0 0 1px white, 0 0 0 2px #ff5103;
        cursor: pointer; }
    #tab-download .download-panel .download.url {
      background-color: white;
      box-shadow: 0 0 0 2px #f62;
      height: 56px;
      color: #f62;
      font-weight: bold;
      display: inline-block;
      padding: 16px 32px;
      margin: 8px 0;
      transition: background-color 0.2s ease, box-shadow 0.2s ease; }
      #tab-download .download-panel .download.url:focus {
        background-color: #fafafa;
        box-shadow: 0 0 0 2px #f62, inset 0 1px 3px rgba(0, 0, 0, 0.3);
        cursor: pointer; }
  @media only screen and (min-width: 1200px) {
    #tab-download .download-panel {
      flex-direction: row; }
      #tab-download .download-panel > div {
        padding: 0 8px; } }
  @media only screen and (max-width: 640px) {
    #tab-download .download-panel header {
      border-bottom: none; } }
#tab-download h1 {
  text-align: center; }
#tab-download .from-latest {
  padding: 0 16px; }
  #tab-download .from-latest ul li {
    list-style-type: none;
    color: #f62;
    width: 20em;
    margin: 0 auto; }
    #tab-download .from-latest ul li .button {
      background-color: #f62;
      box-shadow: inset 0 0 0 1px white, 0 0 0 2px #f62;
      color: white;
      font-weight: bold;
      display: inline-block;
      padding: 8px 16px;
      margin: 8px 0;
      transition: background-color 0.2s ease, box-shadow 0.2s ease; }
      #tab-download .from-latest ul li .button:hover {
        background-color: #ff7131;
        box-shadow: inset 0 0 0 1px white, 0 0 0 2px #ff7131;
        cursor: pointer; }
      #tab-download .from-latest ul li .button:active {
        background-color: #ff5103;
        box-shadow: inset 0 0 0 1px white, 0 0 0 2px #ff5103;
        cursor: pointer; }
    #tab-download .from-latest ul li .filesize {
      margin-left: 16px;
      font-weight: bold; }
  #tab-download .from-latest ul .loading {
    font-size: 150%;
    opacity: 0.25;
    text-align: center;
    margin: 32px; }

#tab-features section {
  position: relative;
  padding: 16px 32px;
  min-height: 432px; }
  @media only screen and (min-width: 1200px) {
    #tab-features section {
      padding-right: 664px; }
      #tab-features section img {
        position: absolute;
        top: 16px;
        right: 32px; } }
  @media only screen and (max-width: 1199px) {
    #tab-features section {
      padding: 0; }
      #tab-features section header {
        text-align: center;
        padding: 8px 0;
        margin: 0; }
      #tab-features section img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 16px; }
      #tab-features section p {
        padding: 0 16px; } }
#tab-features section + section {
  box-shadow: inset 0 1px 0 #eee; }
  @media only screen and (max-width: 1199px) {
    #tab-features section + section {
      margin-top: 32px; } }

#tab-gallery {
  padding: 0 16px;
  padding-top: 8px; }
  #tab-gallery .disclaimer {
    display: block;
    color: #444;
    font-style: italic;
    text-align: center;
    padding: 32px 0; }
  #tab-gallery img {
    margin-top: 8px;
    max-width: 100%; }
  @media only screen and (max-width: 640px) {
    #tab-gallery {
      padding: 8px 0; } }

#tab-changelog {
  padding: 32px 64px; }
  #tab-changelog ul.updates li {
    list-style-type: none; }
  #tab-changelog ul.updates h1 {
    background-color: #aaa;
    color: #fff;
    font-size: 100%;
    font-weight: bold;
    display: inline-block;
    padding: 4px 8px;
    margin: 0; }
    #tab-changelog ul.updates h1 .month {
      margin: 0 4px; }
  #tab-changelog ul.updates ul.changelog {
    margin: 8px 0;
    margin-bottom: 32px;
    margin-left: 3em; }
    #tab-changelog ul.updates ul.changelog li {
      list-style-type: none; }
  @media only screen and (max-width: 640px) {
    #tab-changelog {
      padding: 32px 16px; }
      #tab-changelog ul.changelog {
        margin-left: 8px !important; } }

footer {
  background-color: rgba(0, 0, 0, 0.025);
  border-top: 1px solid #ddd;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  text-align: center;
  padding: 16px 0; }

html, body {
  width: 100%; }

html {
  background-color: #eee;
  height: 100%;
  color: #black-fg;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 160%; }

body {
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  position: relative;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  max-width: 90em;
  margin: 0 auto;
  min-height: 100%; }

main {
  width: 100%;
  flex: 1; }
