* {
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

main h1 {
  border-bottom: 2px solid #e51;
  color: #e51;
  font-size: 24px;
  padding: 8px 0;
  margin-top: 16px;
  margin-bottom: 8px; }
  @media only screen and (max-width: 640px) {
    main h1 {
      text-align: center; } }
  @media only screen and (min-width: 1200px) {
    main h1 {
      font-size: 32px; } }
main .button {
  background-color: #e51;
  border: 1px solid white;
  box-shadow: 0 0 0 2px #e51;
  color: white;
  font-weight: bold;
  display: inline-block;
  padding: 8px 16px;
  margin: 8px 0;
  transition: background-color 0.2s ease, box-shadow 0.2s ease; }
  main .button:hover {
    background-color: #ef5f1f;
    box-shadow: 0 0 0 2px #ef5f1f;
    cursor: pointer; }
  main .button:active {
    background-color: #d14b0f;
    box-shadow: 0 0 0 2px #d14b0f, inset 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer; }

body > header {
  background-color: #e51;
  color: white;
  text-align: center;
  padding: 16px 0;
  width: 100%;
  max-width: 90em;
  margin: 0 auto; }
  body > header h1 {
    font-size: 200%; }
    body > header h1 .beta {
      background-color: white;
      color: #e51;
      font-size: 40%;
      font-weight: bold;
      position: relative;
      top: -1em;
      padding: 3px 6px;
      border-radius: 4px;
      text-transform: uppercase; }
  body > header h2 {
    font-style: italic;
    opacity: 0.75; }
  @media only screen and (min-width: 1200px) {
    body > header {
      position: absolute;
      left: 0;
      width: auto;
      background-color: transparent;
      height: 80px;
      padding: 28px 16px;
      text-align: center;
      width: 30em; }
      body > header h1, body > header h2 {
        display: inline-block; }
      body > header h1 {
        font-size: 150%;
        font-weight: bold; }
        body > header h1 .beta {
          font-size: 12px; }
      body > header h2 {
        margin-left: 16px; } }

nav {
  background-color: #e51;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 100%;
  transition: box-shadow 0.2s ease;
  height: 48px;
  max-width: 90em;
  margin: 0 auto;
  -webkit-backface-visibility: hidden; }
  nav .tab {
    border-bottom: 4px solid transparent;
    display: inline-block;
    height: 48px;
    padding: 12px 16px;
    padding-bottom: 10px; }
    nav .tab.active {
      border-color: white; }

@media only screen and (min-width: 1200px) {
  html nav {
    height: 80px; }
    html nav .tab {
      height: 80px;
      padding-top: 48px; } }
#download .download-panel {
  display: flex;
  flex-direction: column; }
  #download .download-panel > div {
    flex: 1;
    text-align: center; }
    #download .download-panel > div ol {
      color: rgba(0, 0, 0, 0.3);
      text-align: left;
      width: 30em;
      max-width: 100%;
      margin: 0 auto;
      padding: 32px 32px; }
      #download .download-panel > div ol li {
        color: #333; }
  #download .download-panel .download {
    width: 30em;
    max-width: 100%;
    text-align: center; }
    #download .download-panel .download.button {
      background-color: #e51;
      border: 1px solid white;
      box-shadow: 0 0 0 2px #e51;
      color: white;
      font-weight: bold;
      display: inline-block;
      padding: 16px 32px;
      margin: 8px 0;
      transition: background-color 0.2s ease, box-shadow 0.2s ease; }
      #download .download-panel .download.button:hover {
        background-color: #ef5f1f;
        box-shadow: 0 0 0 2px #ef5f1f;
        cursor: pointer; }
      #download .download-panel .download.button:active {
        background-color: #d14b0f;
        box-shadow: 0 0 0 2px #d14b0f, inset 0 1px 3px rgba(0, 0, 0, 0.3);
        cursor: pointer; }
    #download .download-panel .download.url {
      background-color: white;
      border: 1px solid #e51;
      box-shadow: 0 0 0 1px #e51;
      color: #e51;
      font-weight: bold;
      display: inline-block;
      padding: 16px 32px;
      margin: 8px 0;
      transition: background-color 0.2s ease, box-shadow 0.2s ease; }
      #download .download-panel .download.url:focus {
        background-color: #fafafa;
        border-color: #e51;
        box-shadow: 0 0 0 1px #e51, inset 0 1px 3px rgba(0, 0, 0, 0.3);
        cursor: pointer; }
  @media only screen and (min-width: 1200px) {
    #download .download-panel {
      flex-direction: row; }
      #download .download-panel > div {
        padding: 0 8px; } }
#download h1 {
  text-align: center; }

footer {
  background-color: rgba(0, 0, 0, 0.025);
  border-top: 1px solid #ddd;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  text-align: center;
  padding: 16px 0; }

html, body {
  width: 100%; }

html {
  background-color: #eee;
  height: 100%;
  color: #black-fg;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 160%; }

body {
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  position: relative;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  max-width: 90em;
  margin: 0 auto;
  min-height: 100%; }

main {
  width: 100%;
  padding: 8px 16px;
  flex: 1; }
