
@import 'util';

main {

  h1 {
    border-bottom: 2px solid $theme-color;
    color: $theme-color;
    
    font-size: $unit3;
    
    padding: $unit 0;

    margin-top: $unit2;
    margin-bottom: $unit;

    @include device(small) {
      text-align: center;
    }
    
    @include device(large) {
      font-size: $unit4;
    }
    
  }

  p {

  }

  .button {
    @include button($theme-color, $theme-fg);
  }

}