nav {
  background-color: #f62;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 100%;
  transition: box-shadow 0.2s ease;
  max-width: 90em;
  margin: 0 auto;
  -webkit-backface-visibility: hidden; }
  nav .tab {
    border-bottom: 4px solid transparent;
    display: inline-block;
    height: 48px;
    padding: 12px 16px;
    padding-bottom: 10px; }
    nav .tab.active {
      border-color: white; }

@media only screen and (min-width: 1200px) {
  html nav {
    height: 80px;
    padding-top: 32px;
    padding-left: 20em; }
    html nav .tab {
      height: 48px;
      padding-top: 12px; }
      html nav .tab.active {
        background-color: white;
        color: #f62; } }
#tabs .tab {
  display: none; }
#tabs .tab.active {
  display: block; }
