
$beta:           true;
$beta-color:     #f62;
$release-color:  #26f;

$theme-color:    $release-color;
@if $beta {
  $theme-color:  $beta-color;
}

$theme-fg:       white;

$light-background-color: #eee;

$black-fg:               #222;

$shadow: rgba(black, 0.3);

// animation

$anim: 0.2s;

// sizes

$unit:           8px;
$unit2:          $unit * 2;
$unit3:          $unit * 3;
$unit4:          $unit * 4;
$unit5:          $unit * 5;
$unit6:          $unit * 6;
$unit8:          $unit * 8;
$unit10:         $unit * 10;
$unit12:         $unit * 12;

@if not $beta {
  .beta {
    display: none;
  }
}

// devices

$break-small: 640px;
$break-large: 1200px;

@mixin device($media) {
  @if $media == small {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @if $media == lt-medium {
    @media only screen and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == medium {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == large {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

// button

@mixin button($bg: $theme-color, $fg: $theme-fg, $padding: $unit) {
  background-color: $bg;
  box-shadow: inset 0 0 0 1px $fg, 0 0 0 2px $bg;
  
  color: $fg;
  font-weight: bold;
  
  display: inline-block;
  padding: $padding $padding * 2;
  margin: $unit 0;

  transition: background-color $anim ease, box-shadow $anim ease;

  &:hover {
    $hover-bg: lighten($bg, 3);
    @if lightness($bg) > 70 {
      $hover-bg: darken($bg, 3);
    }

    background-color: $hover-bg;
    box-shadow: inset 0 0 0 1px $fg, 0 0 0 2px $hover-bg;
    
    cursor: pointer;
  }
  
  &:active {
    $active-bg: darken($bg, 6);

    background-color: $active-bg;
    box-shadow: inset 0 0 0 1px $fg, 0 0 0 2px $active-bg;
    
    cursor: pointer;
  }
  
}

// input

@mixin input($bg: $theme-color, $fg: $theme-fg, $padding: $unit) {
  background-color: $bg;
  box-shadow: 0 0 0 2px $fg;

  height: $unit3 + $padding * 2;
  
  color: $fg;
  font-weight: bold;
  
  display: inline-block;
  padding: $padding $padding * 2;
  margin: $unit 0;

  transition: background-color $anim ease, box-shadow $anim ease;

  &:focus {
    background-color: darken($bg, 2);
    box-shadow: 0 0 0 2px $fg, inset 0 1px 3px $shadow;
    
    cursor: pointer;
  }
  
}