#tab-about,
#tab-changelog {
  width: 100%;
  padding: 0 24px;
  background-color: #fff; }
  #tab-about section,
  #tab-changelog section {
    color: #555;
    padding: 20px;
    margin-bottom: 48px;
    overflow: hidden;
    width: 100%; }
    #tab-about section p + p,
    #tab-changelog section p + p {
      margin-top: 0.5em; }
    #tab-about section > header,
    #tab-changelog section > header {
      background-color: #f83;
      color: #fff;
      font-size: 200%;
      font-weight: 100;
      padding: 15px 30px;
      z-index: 100;
      display: inline-block;
      margin-bottom: 30px; }
    #tab-about section code,
    #tab-changelog section code {
      background-color: #e8e8e8;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      font-family: monoOne, monospace;
      font-size: 90%;
      display: inline-block;
      padding: 0 4px;
      margin: 0 2px; }

#tab-changelog ul.releases {
  margin-left: 1em; }
  #tab-changelog ul.releases li {
    list-style-type: none; }
    #tab-changelog ul.releases li > header {
      background-color: #666;
      font-weight: bold;
      display: inline-block;
      color: #fff;
      padding: 4px 1em;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px; }
      #tab-changelog ul.releases li > header .month {
        color: inherit; }
        #tab-changelog ul.releases li > header .month:before, #tab-changelog ul.releases li > header .month:after {
          content: '.';
          display: inline; }
    #tab-changelog ul.releases li ul {
      color: #444; }
      #tab-changelog ul.releases li ul * {
        color: inherit; }
      #tab-changelog ul.releases li ul li {
        list-style-type: disc; }
