
@import "util";

@mixin button($color, $shadow-alpha: 0.2) {
  background-color: $color;

  @include box-shadow(0 0 0 1px white, 0 0 0 3px $color);

  color: #fff;

  display: inline-block;
  padding: 5px 20px;

  user-select: none;

  &:hover {
    background-color: lighten($color, 5);
  }

  &:active {
    background-color: darken($color, 15);
    @include box-shadow(0 0 0 1px white, 0 0 0 3px $color, inset 0 5px 5px rgba(black, 0.1));
  }
}
