
@import "util";

#tab-features {
  background-color: #fff;
  padding-top: $section-padding;
}

#tab-features section {
  position: relative;
  min-height: $section-height;
  padding: $section-padding;
  margin: 0 $header-margin;
  margin-bottom: $section-margin;
  overflow: hidden;

  header {
    background-color: $theme-color;
    color: #fff;
    font-size: 200%;
    font-weight: 100;

    position: absolute;
    top: 10px;
    padding: 15px 30px;
    z-index: 100;
  }

  img {
    position: absolute;
    top: 0;
  }

  p+p {
    margin-top: 0.5em;
  }

  color: #555;

  &:nth-child(odd) {
    padding-right: $section-width + $section-padding * 2;

    header {
      right: 0;
    }

    img {
      right: 0;
    }
  }

  &:nth-child(even) {
    padding-left: $section-width + $section-padding * 2;

    header {
      left: 0;
    }

    img {
      left: 0;
    }
  }

}