footer {
  background: #fff;
  border: 2px solid #f83;
  -webkit-box-shadow: 0 0 0 4px #fff;
  -moz-box-shadow: 0 0 0 4px #fff;
  -ms-box-shadow: 0 0 0 4px #fff;
  box-shadow: 0 0 0 4px #fff;
  border-bottom: none;
  color: #f83;
  font-weight: bold;
  font-size: 90%;
  text-align: center;
  position: fixed;
  left: 50%;
  bottom: 0;
  width: 60em;
  margin-left: -30em;
  padding: 5px 0;
  z-index: 10000; }
