
@import "util";

footer {
  background: #fff;

  border: 2px solid $theme-color;
  @include box-shadow(0 0 0 4px #fff);
  border-bottom: none;

  color: $theme-color;
  font-weight: bold;
  font-size: 90%;
  text-align: center;

  position: fixed;
  left: 50%;
  bottom: 0;
  width: 60em;
  margin-left: -30em;
  padding: 5px 0;

  z-index: 10000;
}