footer {
  border-top: 3px solid #aaa;
  background-color: #ccc;
  color: rgba(0, 0, 0, 0.7);
  font-size: 95%;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 10000; }
