#header {
  background-color: rgba(48, 48, 48, 0.8);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0 4px 0 #3388ff;
  -moz-box-shadow: 0 4px 0 #3388ff;
  -ms-box-shadow: 0 4px 0 #3388ff;
  box-shadow: 0 4px 0 #3388ff;
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  position: fixed;
  width: calc(100% - 32px);
  height: 32px;
  margin: 16px;
  padding-left: 32px; }
  #header > * {
    display: inline-block;
    height: 32px;
    overflow: hidden; }
  #header ul.aircraft li {
    display: inline-block;
    height: 100%;
    margin-right: 5px; }
    #header ul.aircraft li a {
      display: block;
      height: 100%;
      padding: 5px 10px; }
    #header ul.aircraft li.active {
      background-color: #3388ff;
      font-weight: bold; }
    #header ul.aircraft li:hover {
      background-color: rgba(99, 99, 99, 0.8); }
  #header > a {
    padding: 5px 10px; }
  #header a.image {
    width: 32px;
    opacity: 0.9; }
    #header a.image:hover {
      opacity: 1.0; }
  #header a.image {
    padding: 0; }
  #header a.homepage {
    position: absolute;
    left: 0; }
  #header a.author {
    float: right; }
