
@import "util";

#header {

  width: 100%;
  margin: $header-margin * 2 0;
  text-align: center;

  h1.aircraft {
    font-size: 200%;
    color: #444;

    .beta {
      background-color: $beta-color;

      @include border-radius();

      color: #fff;
      font-weight: bold;
      font-size: 50%;

      position: relative;
      top: -6px;
      padding: 3px 10px;
      margin: 0 5px;
    }
  }

  h2 {
    color: #666;
    font-style: italic;

    margin: 10px;
  }
    
}
