#header {
  width: 100%;
  margin: 48px 0;
  text-align: center; }
  #header h1.aircraft {
    font-size: 200%;
    color: #444; }
    #header h1.aircraft .beta {
      background-color: #f83;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      color: #fff;
      font-weight: bold;
      font-size: 50%;
      position: relative;
      top: -6px;
      padding: 3px 10px;
      margin: 0 5px; }
  #header h2 {
    color: #666;
    font-style: italic;
    margin: 10px; }
