
@import "util";

#header {

  background-color:    $header-background-color;

  @include border-radius(0px);
  @include box-shadow(0 $header-bar-height 0 $header-bar-color);
  @include text-shadow(0 1px 0 $header-bar-color);

  color:            $header-foreground-color;
  font-size:        $header-font-size;
  font-weight:      bold;

  position: fixed;
  width: calc(100% - 32px);
  margin: 16px;

  padding-left: 30px;

  > * {
    padding: ($header-height - $header-font-size) / 2 ($header-height - $header-font-size);
    display: inline-block;
  }

  a {
    padding: 3px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;

    &:hover {
      opacity: 1.0;
    }
  }
}
