
@import "reset";
@import "util";

@import "button";

@import "header";
@import "top";
@import "tabs";
@import "footer";

@import "features";
@import "releases";
@import "about";

html, body {
  width: 100%;
}

html {
  background: #eee;

  font-family: sans-serif;
  line-height: 140%;
  
  overflow-y: scroll;
}

body {
  position: relative;
  margin-bottom: 8em;
  background-color: #fff;
  max-width: 90em;
  margin: 0 auto;
}

a.link {
  text-decoration: underline;
}

ul {
  margin: 1em 0;
  margin-left: 2em;

  li {
    color: #ccc;
    span {
      color: #555;
    }
  }
}

ol {
  margin: 1em 0;
  margin-left: 3em;

  li {
    color: #888;
    span {
      color: #555;
    }
  }
}

