* {
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

#header {
  width: 100%;
  margin: 48px 0;
  text-align: center; }
  #header h1.aircraft {
    font-size: 200%;
    color: #444; }
    #header h1.aircraft .beta {
      background-color: #f83;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      color: #fff;
      font-weight: bold;
      font-size: 50%;
      position: relative;
      top: -6px;
      padding: 3px 10px;
      margin: 0 5px; }
  #header h2 {
    color: #666;
    font-style: italic;
    margin: 10px; }

#top {
  background-color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  position: relative;
  margin: 48px 24px;
  margin-top: 0;
  padding: 20px;
  color: rgba(0, 0, 0, 0.7); }
  #top .last-update, #top .size {
    margin-left: 20px; }
  #top .size {
    font-weight: bold; }
  #top .last-update {
    color: rgba(0, 0, 0, 0.5); }
  #top .links {
    color: #666;
    float: right;
    padding: 5px 20px; }
    #top .links a {
      margin: 0 20px;
      position: relative; }
      #top .links a:hover {
        color: #444;
        text-decoration: underline; }
    #top .links a + a:before {
      border-left: 2px solid #aaa;
      font-weight: bold;
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: -21px;
      height: 100%; }
  #top .download.button {
    background-color: #38f;
    -webkit-box-shadow: inset 0 -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 -2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: inset 0 -2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -2px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    position: relative;
    display: inline-block;
    padding: 5px 20px;
    user-select: none;
    font-weight: bold; }
    #top .download.button:hover {
      background-color: #4d97ff; }
    #top .download.button:active {
      background-color: #1a79ff; }
  #top .download.button.beta {
    background-color: #f83;
    -webkit-box-shadow: inset 0 -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 -2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: inset 0 -2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -2px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    position: relative;
    display: inline-block;
    padding: 5px 20px;
    user-select: none; }
    #top .download.button.beta:hover {
      background-color: #ff974d; }
    #top .download.button.beta:active {
      background-color: #ff791a; }

#tabs {
  border-bottom: 2px solid #aaa;
  color: #444;
  margin-bottom: 48px;
  height: 0;
  text-align: center; }
  #tabs a {
    background-color: #ddd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    top: -15px;
    color: #888;
    position: relative;
    display: inline-block;
    padding: 5px 20px;
    margin: 0 10px; }
    #tabs a:hover {
      background-color: #e6e6e6; }
    #tabs a:active {
      background-color: #d8d8d8;
      color: #999;
      -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: inset 0 1px rgba(0, 0, 0, 0.2);
      -ms-box-shadow: inset 0 1px rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 1px rgba(0, 0, 0, 0.2); }
    #tabs a.active {
      background-color: #f83;
      -webkit-box-shadow: inset 0 -2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: inset 0 -2px rgba(0, 0, 0, 0.2);
      -ms-box-shadow: inset 0 -2px rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 -2px rgba(0, 0, 0, 0.2);
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      color: #fff;
      position: relative;
      display: inline-block;
      padding: 5px 20px;
      user-select: none; }
      #tabs a.active:hover {
        background-color: #ff974d; }
      #tabs a.active:active {
        background-color: #ff791a; }

.tab {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  margin-bottom: 3em; }
  .tab.active {
    opacity: 1;
    pointer-events: auto; }

footer {
  background: #fff;
  border: 2px solid #888;
  -webkit-box-shadow: 0 0 0 4px #fff;
  -moz-box-shadow: 0 0 0 4px #fff;
  -ms-box-shadow: 0 0 0 4px #fff;
  box-shadow: 0 0 0 4px #fff;
  border-radius: 4px 4px 0 0;
  border-bottom: none;
  color: rgba(0, 0, 0, 0.7);
  font-size: 90%;
  text-align: center;
  position: fixed;
  left: 50%;
  bottom: 0;
  width: 60em;
  margin-left: -30em;
  padding: 10px 0;
  z-index: 10000; }

#tab-features section {
  background-color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  position: relative;
  min-height: 400px;
  padding: 20px;
  margin: 0 24px;
  margin-bottom: 48px;
  overflow: hidden;
  color: #555; }
  #tab-features section header {
    color: rgba(48, 48, 48, 0.9);
    font-size: 200%;
    font-weight: 100;
    -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    -moz-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    -ms-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    top: -5px;
    padding: 15px 30px;
    z-index: 100;
    margin: 0 20px;
    width: 100%; }
  #tab-features section img {
    position: absolute;
    top: 0; }
  #tab-features section p + p {
    margin-top: 0.5em; }
  #tab-features section:nth-child(odd) {
    padding-right: 640px; }
    #tab-features section:nth-child(odd) header {
      float: left; }
    #tab-features section:nth-child(odd) img {
      right: 0; }
  #tab-features section:nth-child(even) {
    padding-left: 640px; }
    #tab-features section:nth-child(even) header {
      float: left; }
    #tab-features section:nth-child(even) img {
      left: 0; }

#tab-releases {
  background-color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  position: relative;
  padding: 20px;
  margin: 0 24px;
  overflow: hidden; }
  #tab-releases .release {
    font-weight: bold; }
    #tab-releases .release .download {
      background-color: #f83;
      -webkit-box-shadow: inset 0 -2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: inset 0 -2px rgba(0, 0, 0, 0.2);
      -ms-box-shadow: inset 0 -2px rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 -2px rgba(0, 0, 0, 0.2);
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      color: #fff;
      position: relative;
      display: inline-block;
      padding: 5px 20px;
      user-select: none; }
      #tab-releases .release .download:hover {
        background-color: #ff974d; }
      #tab-releases .release .download:active {
        background-color: #ff791a; }
    #tab-releases .release .size {
      color: #666;
      display: inline-block;
      margin-left: 30px; }
  #tab-releases .release + .release {
    border-top: 2px solid #aaa;
    margin-top: 12px;
    padding-top: 12px; }

#tab-about,
#tab-changelog {
  width: 100%;
  padding: 0 24px; }
  #tab-about section,
  #tab-changelog section {
    background-color: #fff;
    color: #555;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 48px;
    overflow: hidden;
    width: 100%; }
    #tab-about section p + p,
    #tab-changelog section p + p {
      margin-top: 0.5em; }
    #tab-about section > header,
    #tab-changelog section > header {
      color: rgba(48, 48, 48, 0.9);
      font-size: 200%;
      font-weight: 100;
      -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
      -moz-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
      -ms-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
      float: right;
      padding: 15px 30px; }
    #tab-about section code,
    #tab-changelog section code {
      background-color: #e8e8e8;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      font-family: monoOne, monospace;
      font-size: 90%;
      display: inline-block;
      padding: 0 4px;
      margin: 0 2px; }

#tab-changelog ul.releases {
  margin-left: 1em; }
  #tab-changelog ul.releases li {
    list-style-type: none; }
    #tab-changelog ul.releases li > header {
      background-color: #666;
      font-weight: bold;
      display: inline-block;
      color: #fff;
      padding: 4px 1em;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px; }
      #tab-changelog ul.releases li > header .month {
        color: inherit; }
        #tab-changelog ul.releases li > header .month:before, #tab-changelog ul.releases li > header .month:after {
          content: '.';
          display: inline; }
    #tab-changelog ul.releases li ul {
      color: #444; }
      #tab-changelog ul.releases li ul * {
        color: inherit; }
      #tab-changelog ul.releases li ul li {
        list-style-type: disc; }

html, body {
  width: 100%; }

html {
  background: #ccc url("../images/background.png") left top repeat fixed;
  font-family: sans-serif;
  line-height: 140%;
  overflow-y: scroll; }

body {
  margin-bottom: 8em; }

a.link {
  text-decoration: underline; }

ul {
  margin: 1em 0;
  margin-left: 2em; }
  ul li {
    color: #ccc; }
    ul li span {
      color: #555; }

ol {
  margin: 1em 0;
  margin-left: 3em; }
  ol li {
    color: #888; }
    ol li span {
      color: #555; }
