
@import "reset";
@import "util";

@import "header";
@import "section";
@import "footer";

html,body {
  width: 100%;
}

html {
  background-color: #ddd;
  font-family: sans-serif;
}

main {
  padding-top: $header-height + $header-margin * 2;
}