* {
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

#header {
  background-color: rgba(48, 48, 48, 0.8);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0 4px 0 #3388ff;
  -moz-box-shadow: 0 4px 0 #3388ff;
  -ms-box-shadow: 0 4px 0 #3388ff;
  box-shadow: 0 4px 0 #3388ff;
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  position: fixed;
  width: calc(100% - 32px);
  height: 32px;
  margin: 16px;
  padding-left: 32px; }
  #header > * {
    display: inline-block;
    height: 32px;
    overflow: hidden; }
  #header ul.aircraft li {
    display: inline-block;
    height: 100%;
    margin-right: 5px; }
    #header ul.aircraft li a {
      display: block;
      height: 100%;
      padding: 5px 10px; }
    #header ul.aircraft li.active {
      background-color: #3388ff;
      font-weight: bold; }
    #header ul.aircraft li:hover {
      background-color: rgba(99, 99, 99, 0.8); }
  #header > a {
    padding: 5px 10px; }
  #header a.image {
    width: 32px;
    opacity: 0.9; }
    #header a.image:hover {
      opacity: 1.0; }
  #header a.image {
    padding: 0; }
  #header a.homepage {
    position: absolute;
    left: 0; }
  #header a.author {
    float: right; }

section {
  background-color: #fff;
  position: relative;
  height: 400px;
  padding: 10px;
  padding-right: 620px;
  margin: 0 16px; }
  section header {
    background-color: #303030;
    color: rgba(255, 255, 255, 0.9);
    font-size: 200%;
    font-weight: 100;
    -webkit-text-shadow: 0 1px 0 black;
    -moz-text-shadow: 0 1px 0 black;
    -ms-text-shadow: 0 1px 0 black;
    text-shadow: 0 1px 0 black;
    position: absolute;
    top: 15px;
    padding: 5px 10px;
    z-index: 100; }
    section header:nth-child(even) {
      right: 30px; }
    section header:nth-child(odd) {
      left: 30px; }
  section img {
    position: absolute;
    top: 0; }
    section img:nth-child(even) {
      left: 0; }
    section img:nth-child(odd) {
      right: 0; }

footer {
  color: rgba(0, 0, 0, 0.5);
  font-size: 95%;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px; }

html, body {
  width: 100%; }

html {
  background-color: #ddd;
  font-family: sans-serif; }

main {
  padding-top: 64px; }
