* {
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

#header {
  background-color: #eee;
  width: 100%;
  padding: 48px 0;
  text-align: center; }
  #header h1.aircraft {
    font-size: 200%;
    color: #444; }
    #header h1.aircraft .beta {
      background-color: #f83;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      color: #fff;
      font-weight: bold;
      font-size: 50%;
      position: relative;
      top: -6px;
      padding: 3px 10px;
      margin: 0 5px; }
  #header h2 {
    color: #666;
    font-style: italic;
    margin: 10px; }

.links {
  color: #666;
  position: absolute;
  top: 48px;
  right: 24px;
  padding: 5px 20px;
  width: auto; }
  .links a {
    margin: 0 20px;
    position: relative; }
    .links a:hover {
      color: #444;
      text-decoration: underline; }
  .links a + a:before {
    border-left: 2px solid #aaa;
    font-weight: bold;
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: -21px;
    height: 100%; }

#tabs {
  background-color: #eee;
  border-bottom: 2px solid #f83;
  color: #444;
  text-align: center;
  overflow: hidden; }
  #tabs a {
    color: #888;
    font-weight: bold;
    position: relative;
    bottom: -3px;
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px; }
    #tabs a.releases {
      color: #f83; }
    #tabs a:hover {
      background-color: #e6e6e6; }
    #tabs a.active {
      background-color: #f83;
      color: #fff; }

.tab {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  padding-bottom: 5em; }
  .tab.active {
    opacity: 1;
    pointer-events: auto; }

footer {
  background: #fff;
  border: 2px solid #f83;
  -webkit-box-shadow: 0 0 0 4px #fff;
  -moz-box-shadow: 0 0 0 4px #fff;
  -ms-box-shadow: 0 0 0 4px #fff;
  box-shadow: 0 0 0 4px #fff;
  border-bottom: none;
  color: #f83;
  font-weight: bold;
  font-size: 90%;
  text-align: center;
  position: fixed;
  left: 50%;
  bottom: 0;
  width: 60em;
  margin-left: -30em;
  padding: 5px 0;
  z-index: 10000; }

#tab-features {
  background-color: #fff;
  padding-top: 20px; }

#tab-features section {
  position: relative;
  min-height: 400px;
  padding: 20px;
  margin: 0 24px;
  margin-bottom: 20px;
  overflow: hidden;
  color: #555; }
  #tab-features section header {
    color: #555;
    font-size: 200%;
    font-weight: bold;
    display: block;
    padding: 15px 30px;
    z-index: 100; }
  #tab-features section img {
    position: absolute;
    top: 20px; }
  #tab-features section p + p {
    margin-top: 0.5em; }
  #tab-features section:nth-child(odd) {
    padding-right: 640px; }
    #tab-features section:nth-child(odd) img {
      right: 0; }
  #tab-features section:nth-child(even) {
    padding-left: 640px; }
    #tab-features section:nth-child(even) img {
      left: 0; }

#tab-features section + section {
  border-top: 2px solid #aaa; }

#tab-releases {
  background-color: #fff;
  position: relative;
  overflow: hidden; }
  #tab-releases #latest-release {
    background-color: #f83;
    margin-bottom: 48px;
    padding: 48px 60px; }
    #tab-releases #latest-release .download.button {
      background-color: #fff;
      -webkit-box-shadow: 0 0 0 1px #f83, 0 0 0 3px #fff;
      -moz-box-shadow: 0 0 0 1px #f83, 0 0 0 3px #fff;
      -ms-box-shadow: 0 0 0 1px #f83, 0 0 0 3px #fff;
      box-shadow: 0 0 0 1px #f83, 0 0 0 3px #fff;
      padding: 15px 0;
      color: #f83;
      font-weight: bold;
      display: inline-block;
      width: 20em;
      text-align: center; }
      #tab-releases #latest-release .download.button:active {
        background-color: #f8f8f8;
        -webkit-box-shadow: 0 0 0 1px #f83, 0 0 0 3px #fff, inset 0 10px 15px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0 0 0 1px #f83, 0 0 0 3px #fff, inset 0 10px 15px rgba(0, 0, 0, 0.05);
        -ms-box-shadow: 0 0 0 1px #f83, 0 0 0 3px #fff, inset 0 10px 15px rgba(0, 0, 0, 0.05);
        box-shadow: 0 0 0 1px #f83, 0 0 0 3px #fff, inset 0 10px 15px rgba(0, 0, 0, 0.05); }
    #tab-releases #latest-release .last-update, #tab-releases #latest-release .size {
      color: white;
      margin-left: 10px; }
    #tab-releases #latest-release .size {
      font-weight: bold;
      margin-left: 30px; }
  #tab-releases .release {
    margin: 0 40px;
    padding: 0 20px;
    font-weight: bold; }
    #tab-releases .release .download {
      background-color: #f83;
      -webkit-box-shadow: 0 0 0 1px white, 0 0 0 3px #f83;
      -moz-box-shadow: 0 0 0 1px white, 0 0 0 3px #f83;
      -ms-box-shadow: 0 0 0 1px white, 0 0 0 3px #f83;
      box-shadow: 0 0 0 1px white, 0 0 0 3px #f83;
      color: #fff;
      display: inline-block;
      padding: 5px 20px;
      user-select: none;
      width: 20em;
      text-align: center; }
      #tab-releases .release .download:hover {
        background-color: #ff974d; }
      #tab-releases .release .download:active {
        background-color: #e66000;
        -webkit-box-shadow: 0 0 0 1px white, 0 0 0 3px #f83, inset 0 5px 5px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 0 0 1px white, 0 0 0 3px #f83, inset 0 5px 5px rgba(0, 0, 0, 0.1);
        -ms-box-shadow: 0 0 0 1px white, 0 0 0 3px #f83, inset 0 5px 5px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 0 1px white, 0 0 0 3px #f83, inset 0 5px 5px rgba(0, 0, 0, 0.1); }
    #tab-releases .release .size {
      color: #666;
      display: inline-block;
      margin-left: 30px; }
  #tab-releases .release + .release {
    margin-top: 12px;
    padding-top: 12px; }

#tab-about,
#tab-changelog {
  width: 100%;
  padding: 0 24px;
  background-color: #fff; }
  #tab-about section,
  #tab-changelog section {
    color: #555;
    padding: 20px;
    margin-bottom: 48px;
    overflow: hidden;
    width: 100%; }
    #tab-about section p + p,
    #tab-changelog section p + p {
      margin-top: 0.5em; }
    #tab-about section > header,
    #tab-changelog section > header {
      background-color: #f83;
      color: #fff;
      font-size: 200%;
      font-weight: 100;
      padding: 15px 30px;
      z-index: 100;
      display: inline-block;
      margin-bottom: 30px; }
    #tab-about section code,
    #tab-changelog section code {
      background-color: #e8e8e8;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      font-family: monoOne, monospace;
      font-size: 90%;
      display: inline-block;
      padding: 0 4px;
      margin: 0 2px; }

#tab-changelog ul.releases {
  margin-left: 1em; }
  #tab-changelog ul.releases li {
    list-style-type: none; }
    #tab-changelog ul.releases li > header {
      background-color: #666;
      font-weight: bold;
      display: inline-block;
      color: #fff;
      padding: 4px 1em;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px; }
      #tab-changelog ul.releases li > header .month {
        color: inherit; }
        #tab-changelog ul.releases li > header .month:before, #tab-changelog ul.releases li > header .month:after {
          content: '.';
          display: inline; }
    #tab-changelog ul.releases li ul {
      color: #444; }
      #tab-changelog ul.releases li ul * {
        color: inherit; }
      #tab-changelog ul.releases li ul li {
        list-style-type: disc; }

html, body {
  width: 100%; }

html {
  background: #eee;
  font-family: sans-serif;
  line-height: 140%;
  overflow-y: scroll; }

body {
  position: relative;
  margin-bottom: 8em;
  background-color: #fff;
  max-width: 90em;
  margin: 0 auto; }

a.link {
  text-decoration: underline; }

ul {
  margin: 1em 0;
  margin-left: 2em; }
  ul li {
    color: #ccc; }
    ul li span {
      color: #555; }

ol {
  margin: 1em 0;
  margin-left: 3em; }
  ol li {
    color: #888; }
    ol li span {
      color: #555; }
