
@import "util";
@import "button";

#tab-previous {
  background-color: #fff;

  @include border-radius();

  position: relative;
  padding: $section-padding;
  margin: 0 $header-margin;
  overflow: hidden;

  .release {
    font-weight: bold;

    .download {
      @include button($theme-color);
    }

    .size {
      color: #666;
      display: inline-block;
      margin-left: 30px;
    }
  }

  .release + .release {
    border-top: 2px solid #aaa;
    margin-top: 12px;
    padding-top: 12px;
  }
  
}