
@import "util";
@import "button";

#tab-releases {
  background-color: #fff;

  position: relative;
  overflow: hidden;

  #latest-release {
    background-color: $theme-color;
    margin-bottom: $header-margin * 2;
    padding: $header-margin * 2 $header-margin * 2.5;
                       
    .download.button {
      background-color: #fff;
      @include box-shadow(0 0 0 1px $theme-color, 0 0 0 3px #fff);
      padding: 15px 0;
      color: $theme-color;
      font-weight: bold;
      display: inline-block;
      width: 20em;
      text-align: center;

      &:active {
        background-color: #f8f8f8;
        @include box-shadow(0 0 0 1px $theme-color, 0 0 0 3px #fff, inset 0 10px 15px rgba(black, 0.05));
      }
    }

    .last-update, .size {
      color: white;
      margin-left: 10px;
    }

    .size {
      font-weight: bold;
      margin-left: 30px;
    }

    .github-link {
      color: white;
      font-weight: bold;
      float: right;
      
      .github {
        background-color: white;
        color: $theme-color;
        padding: 10px 20px;
        text-align: center;
        margin-left: 20px;
      }
    }
    
  }
  
  .release {
    margin: 0 $section-padding * 2;
    padding: 0 $section-padding;
    font-weight: bold;

    .download {
      @include button($theme-color);
      width: 20em;
      text-align: center;
    }

    .size {
      color: #666;
      display: inline-block;
      margin-left: 30px;
    }
    
  }

  .release + .release {
    margin-top: 12px;
    padding-top: 12px;
  }
  
}