
@import "util";

section {
  background-color: #fff;

  @include border-radius(4px);

  position: relative;
  min-height: $section-height;
  padding: $section-padding;
  margin: 0 $header-margin;
  margin-bottom: $section-margin;
  overflow: hidden;

  header {
    color: rgba(48, 48, 48, 0.9);
    font-size: 200%;
    font-weight: 100;
    @include text-shadow(0 1px 0 rgba(0, 0, 0, 0.2));

    position: relative;
    top: -5px;
    padding: 15px 30px;
    z-index: 100;
    margin: 0 20px;
    width: 100%;
  }

  img {
    position: absolute;
    top: 0;
  }

  p+p {
    margin-top: 0.5em;
  }

  color: #555;

  ul {
    margin: 1em 0;
    margin-left: 2em;

    li {
      color: #ccc;
      span {
        color: #555;
      }
    }
  }

  &:nth-child(even) {
    padding-right: $section-width + $section-padding * 2;

    header {
      float: left;
    }

    img {
      right: 0;
    }
  }

  &:nth-child(odd) {
    padding-left: $section-width + $section-padding * 2;

    header {
      float: left;
    }

    img {
      left: 0;
    }
  }

}