
@import "util";
@import "button";

#tabs {
  background-color: #eee;
  border-bottom: 2px solid $theme-color;
  color: #444;
  text-align: center;
  overflow: hidden;

  a {

    color: #888;

    font-weight: bold;
    position: relative;
    bottom: -3px;
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;

    &.releases {
      color: $theme-color;
    }
    
    &:hover {
      background-color: #e6e6e6;
    }

    &.active {
      background-color: $theme-color;
      color: #fff;
    }
    
  }
}

.tab {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  padding-bottom: 5em;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }
}