#tabs {
  background-color: #eee;
  border-bottom: 2px solid #f83;
  color: #444;
  text-align: center;
  overflow: hidden; }
  #tabs a {
    color: #888;
    font-weight: bold;
    position: relative;
    bottom: -3px;
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px; }
    #tabs a.releases {
      color: #f83; }
    #tabs a:hover {
      background-color: #e6e6e6; }
    #tabs a.active {
      background-color: #f83;
      color: #fff; }

.tab {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  padding-bottom: 5em; }
  .tab.active {
    opacity: 1;
    pointer-events: auto; }
