.links {
  color: #666;
  position: absolute;
  top: 48px;
  right: 24px;
  padding: 5px 20px; }
  .links a {
    margin: 0 20px;
    position: relative; }
    .links a:hover {
      color: #444;
      text-decoration: underline; }
  .links a + a:before {
    border-left: 2px solid #aaa;
    font-weight: bold;
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: -21px;
    height: 100%; }
