
@import "util";
@import "button";

.links {
  color: #666;
  position: absolute;
  top: $header-margin * 2;
  right: $header-margin;
  padding: 5px 20px;
  width: auto;

  a {
    margin: 0 20px;
    position: relative;
    
    &:hover {
      color: #444;

      text-decoration: underline;
    }
  }

  a + a:before {
    border-left: 2px solid #aaa;
    font-weight: bold;

    content: "";

    display: inline-block;
    position: absolute;
    top: 0;
    left: -21px;
    height: 100%;
  }

}
