
$header-foreground-color: rgba(48, 48, 48, 0.8);
$header-font-size:        24px;
$header-height:           48px;
$header-padding:          ($header-height - $header-font-size) / 2 - 3;
$header-margin:           $header-height / 2;

$section-header-padding:  30px;
$section-width:           600px;
$section-height:          400px;
$section-padding:         20px;
$section-margin:          $header-margin * 2;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
      -ms-box-shadow: $shadow;
          box-shadow: $shadow;
}

@mixin text-shadow($shadow...) {
  -webkit-text-shadow: $shadow;
     -moz-text-shadow: $shadow;
      -ms-text-shadow: $shadow;
          text-shadow: $shadow;
}
